/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #DAA06D;
  color: #FAF9F6;
}

body #header {
  width: 100%;
  height: 100vh;
  background-image: url(images/Sharon.PNG);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(218, 160, 109, 0.4);
  margin-top: 60px;
  background-blend-mode: soft-light;
}

body #header .nav-container {
  padding: 10px 5%;
}

body #header .nav-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  margin-top: -60px;
}

body #header .nav-container nav .logo {
  width: 3rem;
}

body #header .nav-container nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

body #header .nav-container nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body #header .nav-container nav ul li a:hover::after {
  width: 100%;
}

body #header .nav-container nav ul li a::after {
  content: '';
  width: 0;
  height: 2.5px;
  background: #FAD5A5;
  position: absolute;
  bottom: -6px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body .header-text {
  font-size: 30px;
  max-width: 100%;
  width: 800px;
  padding-top: 15%;
  padding-left: 10%;
}

body .header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}

body .header-text h1 span {
  color: #FFAA33;
}

body #about {
  padding: 80px 0;
  color: #fff;
  padding-right: 30px;
}

body #about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: #ffff;
      flex-wrap: #ffff;
}

body #about .row .about-col-1 {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  border-radius: 20px;
  padding-left: 7%;
}

body #about .row .about-col-1 img {
  width: 100%;
  border-radius: 20px;
}

body #about .row .about-col-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

body #about .row .about-col-2 .sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}

body #about .row .about-col-2 p {
  font-size: 20px;
  padding-top: 9px;
}

body #about .row .about-col-2 .tab-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 40px;
}

body #about .row .about-col-2 .tab-titles .tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

body #about .row .about-col-2 .tab-titles .tab-links.active-link::after {
  width: 50%;
}

body #about .row .about-col-2 .tab-titles .tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  background: #FAD5A5;
  left: 0;
  bottom: -8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #about .row .about-col-2 .tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 20px;
}

body #about .row .about-col-2 .tab-contents ul li span {
  color: #6E260E;
  font-size: 17px;
}

body #about .row .about-col-2 .tab-contents {
  display: none;
}

body #about .row .about-col-2 .tab-contents.active-tab {
  display: block;
}

body #services {
  padding: 30px 30px;
}

body #services h1 {
  font-size: 40px;
  font-weight: 400;
}

body #services .services-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

body #services .services-list div {
  background: #E5AA70;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  -webkit-transition: background 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, transform 0.5s;
  transition: background 0.5s, transform 0.5s, -webkit-transform 0.5s;
  border-radius: 20px;
  margin: 0 20px;
}

body #services .services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

body #services .services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

body #services .services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
}

body #services .services-list div p {
  font-size: 12px;
}

body #services .services-list div:hover {
  background: #C04000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body #services .services-list div:hover p {
  font-size: 17px;
}

body #portfolio {
  padding: 50px 0;
}

body #portfolio h1 {
  font-size: 40px;
  font-weight: 400;
  padding-left: 30px;
}

body #portfolio .container .work-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  padding: 0 30px;
}

body #portfolio .container .work-list .work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

body #portfolio .container .work-list .work:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body #portfolio .container .work-list .work:hover .layer {
  height: 100%;
}

body #portfolio .container .work-list .work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #portfolio .container .work-list .work .layer {
  width: 100%;
  height: 0;
  color: #ffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(#6e260e));
  background: linear-gradient(rgba(0, 0, 0, 0.6), #6e260e);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 14px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

body #portfolio .container .work-list .work .layer h3 {
  font-size: 40px;
  font-weight: 300px;
  margin-bottom: 20px;
}

body #portfolio .container .work-list .work .layer p {
  padding: 1%;
}

body #portfolio .container .work-list .work .layer a {
  margin-top: 20px;
  color: #6e260e;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

body #portfolio .btn {
  display: block;
  margin: 50px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #6e260e;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  font-size: 18px;
  font-weight: 200;
}

body #portfolio .btn:hover {
  background: #6e260e;
}

body #contact .btn {
  display: block;
  margin: 50px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #6e260e;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  font-size: 20px;
  font-weight: 300;
}

body #contact .btn:hover {
  background: #6e260e;
}

body #contact .container {
  padding: 20px;
}

body #contact .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #contact .container .row .contact-left {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  padding-bottom: 135px;
}

body #contact .container .row .contact-left h1 {
  font-size: 40px;
  font-weight: 400;
}

body #contact .container .row .contact-left p {
  margin-top: 30px;
}

body #contact .container .row .contact-left p i {
  color: #6e260e;
  margin-right: 15px;
  font-size: 23px;
}

body #contact .container .row .contact-left .social-icons {
  margin-top: 30px;
}

body #contact .container .row .contact-left .social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #6e260e;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

body #contact .container .row .contact-left .social-icons a:hover {
  color: #4A0404;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body #contact .container .row .contact-right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

body #contact .container .row .contact-right form {
  width: 100%;
}

body #contact .container .row .contact-right form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  background: #DAA06D;
}

body #contact .container .row .contact-right form .btn2:hover {
  background: #6e260e;
}

body #contact .container .row .contact-right form input, body #contact .container .row .contact-right form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #E5AA70;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

body #contact .copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #C04000;
  font-weight: 300;
  margin-top: 20px;
}

nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 600px) {
  #header {
    background-image: url(images/Sharon.PNG);
  }
  .header-text {
    margin-top: 100%;
    font-size: 18px !important;
  }
  .header-text h1 {
    font-size: 30px  !important;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }
  nav ul {
    background: #E5AA70;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    -webkit-transition: right 0.6s;
    transition: right 0.6s;
  }
  nav ul li {
    display: block !important;
    margin: 25px !important;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 35px !important;
    padding-left: 5px;
  }
  .about-col-1, .about-col-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .about-col-2 {
    padding-left: 25px;
    margin-top: 20px;
  }
  .about-col-2 p {
    font-size: 14px !important;
  }
  .row {
    display: block !important;
  }
  .tab-links p {
    font-size: 16px !important;
  }
  .tab-contents {
    margin-right: 20px !important;
  }
  .tab-contents li {
    font-size: 16px !important;
  }
  .contact-right form {
    max-width: 100%;
  }
  .contact-right form input, .contact-right form textarea {
    max-width: 100% !important;
    padding: 0px !important;
    padding-top: 10px !important;
    margin: 10px 0;
  }
  #msg {
    padding-left: 100px;
  }
}

#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
  font-size: 16px;
}
/*# sourceMappingURL=styles.css.map */